@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    @apply selection:bg-slate-800 selection:text-slate-300;
    font-family: var(--font-mulish);
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-inter);
    font-weight: 700;
}

svg {
    @apply fill-slate-200;
    transition: 0.15s ease-in-out;
}

svg:hover {
    @apply fill-slate-400;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.9em;
    }
}
