@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #000;
    --background: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #fff;
        --background: #000;
    }
}

body {
    @apply selection:bg-slate-800 selection:text-slate-300;
    font-family: var(--font-mulish);
    color: var(--foreground);
    background: var(--background);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-inter);
    font-weight: 700;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.9em;
    }
}

.waving-hand-emoji {
    animation-name: wave-hand-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-hand-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(14deg);
    }
    10% {
        transform: rotate(-8deg);
    }
    15% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-4deg);
    }
    25% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
}
